.Circle{
    width: 120px;
    height: 120px;
  
    position: absolute;

    border-radius: 50%;
    /* background-color: blueviolet; */

    color: white;
    text-align: center; 
    vertical-align: middle;
    line-height: 120px;
  }